<a href="{{ url }}" class="card {{ custom_classes }}">
  <div class="card__eyebrow">{{ eyebrow }}</div>
  <h4 class="card__title">{{ title }}</h4>
  <div class="card__summary">{{ summary }}</div>
</a>