<div class="section section--peach" id="registry">
  <div class="section__header">
    <div class="l-constrain">
      <h2>{{ registry_title }}</h2>
    </div>
  </div>
  <div class="registry">
    <div class="l-constrain">
      <div class="registry__grid">
        <a href="{{ zola_url }}" class="registry__link registry__link--zola" target="_blank">Zola</a>
        <a href="{{ ws_url }}" class="registry__link registry__link--ws" target="_blank">William Sonoma</a>
        <a href="{{ cb_url }}" class="registry__link registry__link--cb" target="_blank">Crate & Barrel</a>
        <a href="{{ wayfair_url }}" class="registry__link registry__link--wayfair" target="_blank">Wayfair</a>
      </div>
    </div>
  </div>
</div>